body,
div,
form,
fieldset,
legend,
label,
input,
button,
br {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 16px;
  color: #333333;
}
#wrapper {
  width: 960px;
}
#wrapper form {
  width: 380px;
  margin-left: 25px;
  margin-top: 25px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #000;
  text-align: right;
  background: #69d2ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69d2ff), color-stop(100%, #8bfefb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #69d2ff 0%, #8bfefb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c2ff', endColorstr='#8bfefb', GradientType=0);
  /* IE6-9 */
}
#wrapper form fieldset {
  border: 3px solid #000;
  border-radius: 5px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#wrapper form fieldset legend {
  margin-left: 95px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.3rem;
  font-style: italic;
}
#wrapper form fieldset input {
  background: #69d2ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69d2ff), color-stop(100%, #8bfefb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #69d2ff 0%, #8bfefb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c2ff', endColorstr='#8bfefb', GradientType=0);
  /* IE6-9 */
  border-collapse: collapse;
  border-radius: 5px;
  border: 1px solid #008FCE;
  height: 26px;
  width: 165px;
  padding-left: 15px;
  margin-bottom: 1px;
  color: #333;
}
#wrapper form fieldset input#tb-age {
  width: 40px;
  padding-left: 5px;
}
#wrapper form button,
#wrapper form input[type=reset] {
  margin-top: 15px;
  border-collapse: collapse;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 5px 15px;
  font-size: 1.2rem;
  color: #333;
  background: #69d2ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #69d2ff), color-stop(100%, #8bfefb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #69d2ff 0%, #8bfefb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #69d2ff 0%, #8bfefb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c2ff', endColorstr='#8bfefb', GradientType=0);
  /* IE6-9 */
}
#wrapper form button:hover,
#wrapper form input[type=reset]:hover {
  background: #9BE1FF;
}
#wrapper form fieldset:nth-child(2) {
  margin-bottom: 5px;
}
/*# sourceMappingURL=task3.css.map */