<div id="post-view">
    <h4 id="ask-to-log">You should be logged in order to post messages.</h4>
    <div id="post-container">
        <h3>Post Panel</h3>
        <label for="title">Title:</label>
        <br />
        <textarea id="title" placeholder="Put title here:"></textarea>
        <br />
        <label for="body">Message:</label>
        <br />
        <textarea id="body" placeholder="Put message here:"></textarea>
        <br />
        <button id="submit-button">Post</button>
    </div>

    <div id="messages-container">
        <h3>Messages Panel</h3>
        <button id="sort-by-title">Sort Title</button>
        <button id="sort-by-date">Sort Date</button>
        <button id="filter-by-autor">Filter by Author</button>
        <br />
        <label for="pattern">Pattern:</label>
        <input type="text" id="pattern" />
        <button id="filter-by-pattern">Filter by Pattern</button>
        <ul id="messages-list">
        </ul>
    </div>
</div>