.btn.btn-lg.btn-info.btn-block {
    background-color: #149c82;
    border-color: #149c82;
}

.btn.btn-lg.btn-info.btn-block:hover {
    background-color: rgba(21, 165, 137, 0.70);
    border-color: rgba(21, 165, 137, 0.70);
    color: rgb(0, 0, 0);
}

a.btn.btn-info{
    background-color: #149c82;
    border-color: #149c82;
}

a.btn.btn-info:hover{
    background-color: rgba(21, 165, 137, 0.70);
    border-color: rgba(21, 165, 137, 0.70);
}