.circle {
    width: 40px;
    height: 40px;
    background: purple;
    position: absolute;
    border-radius: 30px;
    border: 1px solid black;
}

.rect {
    width: 30px;
    height: 30px;
    background: red;
    position: absolute;
    border: 1px solid black;
    text-align: center;
}

#holderForCircle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 150px;
}

#holderForRect {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 250px;
    left: 50px;
}
